<?xml version="1.0" encoding="utf-8"?>
<snippet filetemplate="false" extension="">
<name>Menu</name>
<help>A menu</help>
<starttext><![CDATA[<div class="ui menu">
   <a class="active item">
      <i class="home icon"></i> Home
   </a>
   <div class="right menu">
      <div class="item">
         <div class="ui icon input">
            <input type="text" placeholder="Search..." />
            <i class="search link icon"></i>
         </div>
      </div>
   </div>
</div>]]></starttext>
<endtext><![CDATA[]]></endtext>
</snippet>